body{
    padding: 0px;
    margin: 0px;
}

.slider__div{
    padding-top: 100px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.img__slider__div{
    margin-right: 10px;
    margin-left: 10px;

    border: 1px solid rgb(0, 0, 0);
    display: flex;
}
img{
    max-width: 350px;
    max-height: 380px;
}

.slider_img.active{
    display: block;
}
.slider_img{
    display: none;
}
.d-none{
    display: none;
}